#messages{
    /* Estilos de un celular */
    width: 95%;
    max-width: 400px;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #eee;
    box-shadow: 0 0 20 #ccc inset;
}

.message{
    /* Estilos de un mensaje */
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: lightblue;
}